---
layout: IB_listing
---


<h1> My IB Journey </h1>

<h3> The following are a compilation of some of my notes and work that I did. </h3>
<h5> For reference, I took <br> HL: Physics, Computer Science, Mathematics <br>	SL: Economics, English A Language and Literature, Chinese B </h5>
<p> You may use my work as a reference, but please don't try to replicate it. You may get flagged for plagiarism, just because your work resembles mine doesn't mean the grade will too...</p>
<p> Some advice: For your EETOKIA, try find a topic that you're interested in. This will help IB a little more bearable and also motivate you to work.</p>
<hr>

<h3> HL Physics </h3>

{% for post in site.IB %}
	{% if post.subject == "Physics" %}
		<div class="post">
		  <header class="post-header">
		    <p class="post-meta">
		    </p>
		    <h4>
		      <a href="{{ site.url }}{{ post.url }}" class="ib-title" title="{{ post.title | escape }}">{{ post.title }}</a>
		      {% if post.link %}
		      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
		      {% endif %}
		    </h4>
		    </header>
		</div>
	{% endif %}
{% endfor %}

<h3> HL Computer Science </h3>

{% for post in site.IB %}
	{% if post.subject == "Computer Science" %}
		<div class="post">
		  <header class="post-header">
		    <p class="post-meta">
		    </p>
		    <h4>
		      <a href="{{ site.url }}{{ post.url }}" class="ib-title" title="{{ post.title | escape }}">{{ post.title }}</a>
		      {% if post.link %}
		      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
		      {% endif %}
		    </h4>
		    </header>
		</div>
	{% endif %}
{% endfor %}

<h3> HL Mathematics </h3>
{% for post in site.IB %}
	{% if post.subject == "Mathematics" %}
		<div class="post">
		  <header class="post-header">
		    <p class="post-meta">
		    </p>
		    <h4>
		      <a href="{{ site.url }}{{ post.url }}" class="ib-title" title="{{ post.title | escape }}">{{ post.title }}</a>
		      {% if post.link %}
		      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
		      {% endif %}
		    </h4>
		    </header>
		</div>
	{% endif %}
{% endfor %}

<h3> SL English A: Language & Literature </h3> 

{% for post in site.IB %}
	{% if post.subject == "Langlit" %}
		<div class="post">
		  <header class="post-header">
		    <p class="post-meta">
		    </p>
		    <h4>
		      <a href="{{ site.url }}{{ post.url }}" class="ib-title" title="{{ post.title | escape }}">{{ post.title }}</a>
		      {% if post.link %}
		      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
		      {% endif %}
		    </h4>
		    </header>
		</div>
	{% endif %}
{% endfor %}
